vsc/*
*.wav
public/results-json/*.json
public/videos/*.mp4
flask_restful_old/

# Python virtual environment folders
venv/
env/
*.env/
*.venv/

# PyCharm IDE caches and logs
*.pyc
*.pyo
*.pyd
__pycache__/

# PyCharm project-specific configurations
.idea
.idea/*
.idea/*.iml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/misc.xml
.idea/caches/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/assetWizard/
.idea/

# Other system files
.DS_Store        # macOS
Thumbs.db        # Windows!/public/img/

/public/img/*.png

.vscode
.vscode/*
/public/js/videoConfig.js
videoConfig.json
asc/
